body {
  background: url('images/3d-abstract-hd-background.jpg') no-repeat center center fixed;
  background-size: cover; }

header button {
  background: none;
  border: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px; }

.logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  float: left;
  padding-right: 20px; }

.headerContainer {
  color: #fff; }

nav {
  float: left; }

.search {
  float: left; }

.userContainer {
  float: right; }
